@font-face {
  font-family: "HamburgerHeaven";
  src: local("HamburgerHeaven"),
    url("./fonts/HamburgerHeaven.woff2") format("woff2"),
    url("./fonts/HamburgerHeaven.woff") format("woff"),
    url("./fonts/HamburgerHeaven.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Flex";
  src: local("Roboto Flex Regular"), local("RobotoFlex-Regular"),
    url("./fonts/RobotoFlex-Regular.woff2") format("woff2"),
    url("./fonts/RobotoFlex-Regular.woff") format("woff"),
    url("./fonts/RobotoFlex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: local("Roboto Flex Regular"), local("RobotoFlex-Regular"),
    url("./fonts/RobotoFlex-Regular_1.woff2") format("woff2"),
    url("./fonts/RobotoFlex-Regular_1.woff") format("woff"),
    url("./fonts/RobotoFlex-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway-Thin"),
    url("./fonts/Raleway-Thin.woff2") format("woff2"),
    url("./fonts/Raleway-Thin.woff") format("woff"),
    url("./fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin Italic"), local("Raleway-ThinItalic"),
    url("./fonts/Raleway-ThinItalic.woff2") format("woff2"),
    url("./fonts/Raleway-ThinItalic.woff") format("woff"),
    url("./fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"),
    url("./fonts/Raleway-Regular.woff2") format("woff2"),
    url("./fonts/Raleway-Regular.woff") format("woff"),
    url("./fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway-Thin"),
    url("./fonts/Raleway-Thin_1.woff2") format("woff2"),
    url("./fonts/Raleway-Thin_1.woff") format("woff"),
    url("./fonts/Raleway-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("./fonts/Raleway-Bold.woff2") format("woff2"),
    url("./fonts/Raleway-Bold.woff") format("woff"),
    url("./fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"),
    url("./fonts/Raleway-Light.woff2") format("woff2"),
    url("./fonts/Raleway-Light.woff") format("woff"),
    url("./fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
