@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: #616161;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
}
a:hover {
  color: #353dd6;
}

html,
body {
  font-family: "Raleway", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: rgba(255, 255, 255, 0.945);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
h1 {
  @apply font-roboto text-white p-4 font-extrabold;
}
h2 {
  @apply font-raleway text-[#4d4d4d]  text-[1.6em] md:text-2xl pb-1 font-extrabold;
}
span,
strong {
  @apply text-sm md:text-[1em] pb-1;
}
.name,
.surname {
  @apply text-lg md:text-3xl pb-0;
}
.surname {
  @apply text-sm md:text-2xl pb-0;
}
.photo__cv {
  @apply w-20 h-24 md:w-28 md:h-32 object-cover text-sm bg-stone-700 rounded-md border-2 border-stone-600;
}

.decoration::before {
  content: "";
  @apply absolute left-0 top-12 md:top-12 w-full h-16 md:h-24 bg-[#3b3b3b] -z-10;
}
